.vs/

**/x64/
*.vsxproj.filters
*.vsxproj.user
**/x86/

Plugins/NGPlus/
Plugins/UnrealHelperLibrary/
Plugins/FMODStudio/
Plugins/FMODStudioNiagara/
Plugins/Narrative/
Plugins/NarrativeCommonUI/
Plugins/RefreshAllNodes/
Plugins/InstanceTool/
Plugins/DLSS/
Plugins/DLSSMoviePipelineSupport/
Plugins/NIS/
Plugins/Streamline/
Plugins/StreamlineDeepDVC/
Plugins/FSR3/
Plugins/FSR3MovieRenderPipeline/
Plugins/SideFX_Labs/
Plugins/DirGravity/
Plugins/NinjaCharacter/
Plugins/HoudiniEngine/
Plugins/EmailPlugin/
Plugins/FlyingNavSystem/
Plugins/Tether/
Plugins/NGStatistics/
Plugins/next-framework-loader/
Plugins/KnowledgeSystem/
Plugins/MiniGameSwitcher/
Plugins/AssetsCleaner/
Plugins/EasyMultiSave/
Plugins/ValidationsFilter/

